.clients__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    @media (min-width: $desktop) {
        flex-wrap: nowrap;
    }
}

.clients__item {
       margin: 15px;
       width: calc((100% - 2 * 30px)/2);

    @media (min-width: $tablet) {
        width: calc((100% - 3 * 30px)/3);
    }
}

.clients__title {
    font-size: 28px;
}

.clients__link {
    width: 100%;
    border: 1px solid $iconColor;
    border-radius: 4px;
    cursor: pointer;
    color: $iconColor;
    fill: $iconColor;
        
        &:hover {
            color: $focusColor;
            fill: $focusColor;
            border: 1px solid $focusColor;
        }
    @media (min-width: $desktop) {
        width: 170px;
        height: 92px;
    }
    }        

    .clients__icon {
        display: block;
        margin: 16px auto;
        fill: currentColor;
        transition: color $delay $timingFunc, fill $delay $timingFunc;
    }    
