.section {
        padding: 60px 0;
        @media (min-width: $desktop) {
            padding: 94px 0;
        }
}

.content {
    padding-bottom: 0px;

    &__list {
        @media (min-width: $desktop) {
        margin: -15px;
        }
        @media (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 60px;
        }
        @media (min-width: $desktop) {
        flex-wrap: nowrap;
        }
    }

    &__item {
       text-align: center;
        margin-bottom: 30px;
        @media (min-width: $tablet) {
            width: calc((100% - 2 * 30px)/2);
            margin: 15px;
            text-align: left;
        }
        @media (min-width: $desktop) {
            width: calc((100% - 3 * 30px)/3);
        }
        @media (min-width: $desktop) {
            width: calc((100% - 4 * 30px)/4);
        }
    }

    &__item::before {
    content: "";
    width: 100%;
    height: 120px;
    background: $btnColor url(../images/antenna.svg) no-repeat center;
    display: block;
    margin-bottom: 30px;
}

    &__text {
        font-size: 14px;
        line-height: 1.7;
        text-align: left;
        color: $textColor;            
        @media (min-width: $tablet) {
            letter-spacing: 0.03em;
        }
    }

    &__title {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.15;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $brandColor;

        margin-bottom: 10px;
    }
}

@each $item in clock, diagram, astronaut {
    .icon-#{$item}::before {
      background-image: url('../images/#{$item}.svg');
    }
  }

  