.contacts__list {
    display: flex;
    flex-direction: column-reverse;
    @media (min-width: $tablet) {
        flex-direction: column;
        width: 25%;
        font-weight: 500;
    }
    @media (min-width: $desktop) {
        width: 50%;
        flex-direction: row;
        justify-content: flex-end;
    }
}

.contacts__mail {
        margin-bottom: 64px;
        font-size: 24px;
    @media (min-width: $tablet) {
        margin-bottom: 10px;
        font-size: 12px;
    }
    @media (min-width: $desktop) {
        margin-right: 30px;
        font-size: 14px;
        &:hover {
            fill: $focusColor;
            color: $focusColor;
        }
    }
}

.contacts__phone {
        font-size: 34px;
        color: $focusColor;
        margin-bottom: 32px;
    @media (min-width: $tablet) {
        font-size: 12px;
        color: $textColor;
        margin-bottom: 0;
    }
    @media (min-width: $desktop) {
        font-size: 14px;
        &:hover {
            fill: $focusColor;
            color: $focusColor;
        }
    }
}

.phone__text {
    vertical-align: middle;
}

.contacts__icon {
    display: none;
    &:hover {
        fill: $focusColor;
    }  
    @media (min-width: $tablet) {
        display: inline-block;
        margin-right: 8px;
        vertical-align: middle;
        fill: $textColor; 
    }
}

.contacts__list-social {
    &.is-open {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
    
    &>.contacts__list-item {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        margin-right: 10px;
        margin-left: 10px;
        font-size: 18px;
        font-weight: 500;
        color: $focusColor;
        &:last-child {
            border-right: none;
            margin-right: 0;
            }
        &:first-child {
            margin-left: 0;
            }
        }
    @media (min-width: $tablet) {
        display: none;
        }
    }
}