.footer {
    background-color: $mainColor;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    
    &-logo {
        color: $titleColor;
        margin-bottom: 20px;
    }

    &__title {
        margin-bottom: 20px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $titleColor;
    }
    @media (min-width: $desktop) {
        text-align: left;
    }
}

.address {
    @media (min-width: $tablet) {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    @media (min-width: $desktop) {
        display: flex;
        justify-content: space-evenly;
    }
    &__info,
    &__links {
        margin-bottom: 60px;
        @media (min-width: $tablet) and (max-width: 1199px){
            width: 50%;
        }
        @media (min-width: $desktop) {
            margin-bottom: 0;
        }
    }

    &__links,
    &__form {
        @media (min-width: $desktop) {
            padding-top: 12px;
        }      
    }

    &__icon-list {
        display: flex;
        justify-content: center;
    }

    &__item:not(:last-child) {
        margin-bottom: 9px;
    }

    &__item {
        font-style: normal;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6); 
    }

    &__item:first-child {
        color: $titleColor;
    }

    
}

