.header {
    border-bottom: 1px solid $borderColor;
    box-sizing: border-box;
    overflow: hidden;
}

.container {
    padding: 0 15px;
    width: auto;
    box-sizing: border-box;
    overflow: hidden;

    @media (min-width: $tablet) {
       min-width: $tablet;
       margin: 0 auto; 
    }
    @media (min-width: $desktop) {
        width: $desktop;
    }
}

.header__nav {
    padding: 16px 0;
    position: relative;
    overflow: hidden;
    @media (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    display: inline-block;
    font-family: $body-font-family;
    color: $brandColor;
    letter-spacing: 0.03em;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 700;

    &.is-open {
        display: none;
    }
    @media (min-width: $desktop) {
        font-size: 26px;
    }
}

.logo__strong {
    color: $focusColor;
}
