.logo {
    font-family: $body-font-family;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $brandColor;

    & .is-open {
    @media (min-width: 480px) {
        display: none;
    }
    }
}

.strong {
    color: $focusColor;
}